html {
  background-color: #f9f9f9;
  color: #535353;
  font-family: sans-serif;
}

::selection {
  color: honeydew;
  background: hotpink;
}

* {
  border-radius: 2px;
}

button {
  border: 0;
  margin: 0;
  padding: .3rem 1rem;
  background-color: #999999;
  color: white;
  border-radius: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.create {
  border-radius: 2px;
}
a, .create {
  border: 1px solid #999999;
  background-color: inherit;
  color: inherit;
  padding: .5rem;
  text-decoration: none;
}
a:hover, .create:hover {
  border: 1px solid #535353;
  color: deeppink;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 41rem;
  height: 41rem;
  justify-content: space-between;
  align-content: space-between;
}

.tile {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.tile:hover {
  border: 2px solid #717272;
}

.unflipped {
  background-color: #d5d5d5;
}

.teamA {
  background-color: #00539f; /* #61dafb */
}
.teamA-transparent {
  background-color: rgba(0, 83, 159, .3); /* #61dafb */
  color: black;
  font-weight: normal;
}
.teamB {
  background-color: #d5003a;
}
.teamB-transparent {
  background-color: rgba(213, 0, 58, .3);
  color: black;
  font-weight: normal;
}
.neutral {
  background-color: #efbb29;
}
.neutral-transparent {
  background-color: rgba(239, 187, 41, .3);
  color: black;
  font-weight: normal;
}
.mine {
  background-color: black; /* #717272 */
}
.mine-transparent {
  background-color: rgba(0, 0, 0, .3);
  color: black;
  font-weight: normal;
}

.unflippable {
  cursor: default;
}
.unflippable:hover {
  border: 0;
}

.score {
  font-size: 2rem;
}

.self-teamA {
  color: #00539f;
  font-weight: bolder;
}
.self-teamB {
  color: #d5003a;
  font-weight: bolder;
}

.lobbyBlurb {
  width: 35%;
}
.lobbyBlurb li {
  margin-bottom: 1rem;
}

.info {
  margin-top: .5rem;
  color: #d5d5d5;
}
