.board {
  margin: 2.5rem auto;
  width: 35rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
  height: 6.5rem;
}

.tile {
  width: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}
.tile:hover {
  border: 1px solid black;
}

.unflipped {
  background-color: honeydew;
}
.teamA {
  background-color: #61dafb;
}
.teamB {
  background-color: crimson;
}
.neutral {
  background-color: gray;
}
.assassin {
  background-color: greenyellow;
}
.spy {
  border: 5px solid black;
}
